language: python
group: travis_latest
dist: xenial
sudo: true

env:
    global:
        - github_master="https://github.com/${TRAVIS_REPO_SLUG}/archive/master.zip"
        - pip_command="pip"
        - python_command="python"
        - WINEDEBUG=fixme-all       # switch off wine fix me messages

addons:
    apt:
        packages:
            - xvfb      # install xvfb virtual framebuffer - this we need for WINE
            - winbind   # needed for WINE

services:   # start services
  - xvfb    # is needed for WINE on headless installation


matrix:
    include:
    - os: windows
      language: sh
      name: "Windows Python 2.7"

      # oddly a secure password under env: global: causes that choco fails
      # so we need to put the option : filter_secrets: false
      # this can be a security issue, check that You dont leak secrets here !
      filter_secrets: false
      before_install:
          - ./lib_bash/lib_retry.sh retry choco install python2
          - export PATH="/c/Python27:/c/Python27/Scripts:$PATH"

    - os: windows
      language: sh
      name: "Windows Python 3.7"

      # oddly a secure password under env: global: causes that choco fails
      # so we need to put the option : filter_secrets: false
      # this can be a security issue, check that You dont leak secrets here !
      filter_secrets: false
      before_install:
          - ./lib_bash/lib_retry.sh retry choco install python3
          - export PATH="/c/Python37:/c/Python37/Scripts:$PATH"

    - os: linux
      language: python
      name: "WINE stable 32 Bit Python 2.7.16, Windows XP"
      env:
          - WINEARCH="win32"
          - WINEPREFIX="${HOME}/wine/wine32"
          - CMDPREFIX="wine"
          - wine_windows_version="winxp"
          - wine_version="stable"
          - wine_python_version="python2"

    - os: linux
      language: python
      name: "WINE stable 64 Bit Python 2.7.16, Windows XP"
      env:
          - WINEPREFIX="${HOME}/wine/wine64"
          - CMDPREFIX="wine"
          - wine_windows_version="winxp"
          - wine_version="stable"
          - wine_python_version="python2"

    - os: linux
      language: python
      name: "WINE stable 32 Bit Python 3.7.3, Windows XP"
      env:
          - WINEARCH="win32"
          - WINEPREFIX="${HOME}/wine/wine32"
          - CMDPREFIX="wine"
          - wine_windows_version="winxp"
          - wine_version="stable"
          - wine_python_version="python3"

    - os: linux
      language: python
      name: "WINE stable 64 Bit Python 3.7.3, Windows XP"
      env:
          - WINEPREFIX="${HOME}/wine/wine64"
          - CMDPREFIX="wine"
          - wine_windows_version="winxp"
          - wine_version="stable"
          - wine_python_version="python3"

    - os: linux
      language: python
      name: "WINE stable 32 Bit Python 2.7.16, Windows 10"
      env:
          - WINEARCH="win32"
          - WINEPREFIX="${HOME}/wine/wine32"
          - CMDPREFIX="wine"
          - wine_windows_version="win10"
          - wine_version="stable"
          - wine_python_version="python2"

    - os: linux
      language: python
      name: "WINE stable 64 Bit Python 2.7.16, Windows 10"
      env:
          - WINEPREFIX="${HOME}/wine/wine64"
          - CMDPREFIX="wine"
          - wine_windows_version="win10"
          - wine_version="stable"
          - wine_python_version="python2"

    - os: linux
      language: python
      name: "WINE stable 32 Bit Python 3.7.3, Windows 10"
      env:
          - WINEARCH="win32"
          - WINEPREFIX="${HOME}/wine/wine32"
          - CMDPREFIX="wine"
          - wine_windows_version="win10"
          - wine_version="stable"
          - wine_python_version="python3"

    - os: linux
      language: python
      name: "WINE stable 64 Bit Python 3.7.3, Windows 10"
      env:
          - WINEPREFIX="${HOME}/wine/wine64"
          - CMDPREFIX="wine"
          - wine_windows_version="win10"
          - wine_version="stable"
          - wine_python_version="python3"
      before_install:
          - export mypy_static_typecheck="True"
          - export build_docs="True"
          - export deploy_on_pypi="True"

    - os: linux
      language: python
      name: "WINE devel 32 Bit Python 2.7.16, Windows XP"
      env:
          - WINEARCH="win32"
          - WINEPREFIX="${HOME}/wine/wine32"
          - CMDPREFIX="wine"
          - wine_windows_version="winxp"
          - wine_version="devel"
          - wine_python_version="python2"

    - os: linux
      language: python
      name: "WINE devel 64 Bit Python 2.7.16, Windows XP"
      env:
          - WINEPREFIX="${HOME}/wine/wine64"
          - CMDPREFIX="wine"
          - wine_windows_version="winxp"
          - wine_version="devel"
          - wine_python_version="python2"

    - os: linux
      language: python
      name: "WINE devel 32 Bit Python 3.7.3, Windows XP"
      env:
          - WINEARCH="win32"
          - WINEPREFIX="${HOME}/wine/wine32"
          - CMDPREFIX="wine"
          - wine_windows_version="winxp"
          - wine_version="devel"
          - wine_python_version="python3"

    - os: linux
      language: python
      name: "WINE devel 64 Bit Python 3.7.3, Windows XP"
      env:
          - WINEPREFIX="${HOME}/wine/wine64"
          - CMDPREFIX="wine"
          - wine_windows_version="winxp"
          - wine_version="devel"
          - wine_python_version="python3"

    - os: linux
      language: python
      name: "WINE devel 32 Bit Python 2.7.16, Windows 10"
      env:
          - WINEARCH="win32"
          - WINEPREFIX="${HOME}/wine/wine32"
          - CMDPREFIX="wine"
          - wine_windows_version="win10"
          - wine_version="devel"
          - wine_python_version="python2"

    - os: linux
      language: python
      name: "WINE devel 64 Bit Python 2.7.16, Windows 10"
      env:
          - WINEPREFIX="${HOME}/wine/wine64"
          - CMDPREFIX="wine"
          - wine_windows_version="win10"
          - wine_version="devel"
          - wine_python_version="python2"

    - os: linux
      language: python
      name: "WINE devel 32 Bit Python 3.7.3, Windows 10"
      env:
          - WINEARCH="win32"
          - WINEPREFIX="${HOME}/wine/wine32"
          - CMDPREFIX="wine"
          - wine_windows_version="win10"
          - wine_version="devel"
          - wine_python_version="python3"

    - os: linux
      language: python
      name: "WINE devel 64 Bit Python 3.7.3, Windows 10"
      env:
          - WINEPREFIX="${HOME}/wine/wine64"
          - CMDPREFIX="wine"
          - wine_windows_version="win10"
          - wine_version="devel"
          - wine_python_version="python3"

    - os: linux
      language: python
      name: "WINE staging 32 Bit Python 2.7.16, Windows XP"
      env:
          - WINEARCH="win32"
          - WINEPREFIX="${HOME}/wine/wine32"
          - CMDPREFIX="wine"
          - wine_windows_version="winxp"
          - wine_version="staging"
          - wine_python_version="python2"

    - os: linux
      language: python
      name: "WINE staging 64 Bit Python 2.7.16, Windows XP"
      env:
          - WINEPREFIX="${HOME}/wine/wine64"
          - CMDPREFIX="wine"
          - wine_windows_version="winxp"
          - wine_version="staging"
          - wine_python_version="python2"

    - os: linux
      language: python
      name: "WINE staging 32 Bit Python 3.7.3, Windows XP"
      env:
          - WINEARCH="win32"
          - WINEPREFIX="${HOME}/wine/wine32"
          - CMDPREFIX="wine"
          - wine_windows_version="winxp"
          - wine_version="staging"
          - wine_python_version="python3"

    - os: linux
      language: python
      name: "WINE staging 64 Bit Python 3.7.3, Windows XP"
      env:
          - WINEPREFIX="${HOME}/wine/wine64"
          - CMDPREFIX="wine"
          - wine_windows_version="winxp"
          - wine_version="staging"
          - wine_python_version="python3"

    - os: linux
      language: python
      name: "WINE staging 32 Bit Python 2.7.16, Windows 10"
      env:
          - WINEARCH="win32"
          - WINEPREFIX="${HOME}/wine/wine32"
          - CMDPREFIX="wine"
          - wine_windows_version="win10"
          - wine_version="staging"
          - wine_python_version="python2"

    - os: linux
      language: python
      name: "WINE staging 64 Bit Python 2.7.16, Windows 10"
      env:
          - WINEPREFIX="${HOME}/wine/wine64"
          - CMDPREFIX="wine"
          - wine_windows_version="win10"
          - wine_version="staging"
          - wine_python_version="python2"

    - os: linux
      language: python
      name: "WINE staging 32 Bit Python 3.7.3, Windows 10"
      env:
          - WINEARCH="win32"
          - WINEPREFIX="${HOME}/wine/wine32"
          - CMDPREFIX="wine"
          - wine_windows_version="win10"
          - wine_version="staging"
          - wine_python_version="python3"

    - os: linux
      language: python
      name: "WINE staging 64 Bit Python 3.7.3, Windows 10"
      env:
          - WINEPREFIX="${HOME}/wine/wine64"
          - CMDPREFIX="wine"
          - wine_windows_version="win10"
          - wine_version="staging"
          - wine_python_version="python3"

install:
    - chmod +x ./*.sh             # make shellscripts executable
    - chmod +x ./lib_bash/*.sh    # make shellscript lib executable
    - export REPOSITORY_NAME=${TRAVIS_REPO_SLUG#*/} && ./lib_bash/lib_color.sh clr_bold clr_green "Export Repository Name ${REPOSITORY_NAME}"
    - if [[ ${TRAVIS_OS_NAME} == "linux" ]]; then service xvfb status ; fi
    - if [[ ${CMDPREFIX} == "wine" ]]; then ./install_wine.sh ; fi
    - if [[ ${CMDPREFIX} == "wine" ]]; then ./install_wine_machine.sh ; fi
    - if [[ ${wine_python_version} == "python2" ]]; then ./install_wine_python2_preinstalled.sh ; fi
    - if [[ ${wine_python_version} == "python3" ]]; then ./install_wine_python3_preinstalled.sh ; fi
    - if [[ ${CMDPREFIX} == "wine" ]]; then ./install_wine_git_portable.sh ; fi

    - ${CMDPREFIX} ${python_command} -m pip install --upgrade pip
    - if [[ $TRAVIS_PYTHON_VERSION == pypy3.5-6.0 ]]; then ${CMDPREFIX} ${pip_command} install "pytest-cov==2.6.0"; fi
    # mypy does not run on pypy 3.5
    - if [[ "${mypy_static_typecheck}" == "True" ]]; then ${CMDPREFIX} ${pip_command} install mypy; fi
    - if [[ "${build_docs}" == "True" ]]; then ${CMDPREFIX} ${pip_command} install rst_include; fi

    - ${CMDPREFIX} ${pip_command} install codecov pytest pytest-pep8 pytest-cov dill
    - if [[ -f setup.py ]]; then export setup_py_found="True" && ./lib_bash/lib_color.sh clr_bold clr_green "setup.py found" ; else ./lib_bash/lib_color.sh clr_bold clr_red  "*** no setup.py found, nothing to test" ; fi
    - if [[ "${setup_py_found}" == "True" ]]; then ${CMDPREFIX} ${pip_command} install -e . ; fi

script:
    - if [[ "${setup_py_found}" == "True" ]]; then ${CMDPREFIX} ${pip_command} install ${github_master} --install-option test ; else ./lib_bash/lib_color.sh clr_bold clr_red  "no setup.py found, nothing to test" ; fi
    - if [[ "${setup_py_found}" == "True" ]]; then ${CMDPREFIX} ${python_command} -m pytest --pep8 --cov ; else ./lib_bash/lib_color.sh clr_bold clr_red  "no setup.py found, nothing to test" ; fi
    - if [[ "${mypy_static_typecheck}" == "True" ]]; then ${CMDPREFIX} ${python_command} -m mypy -p ${REPOSITORY_NAME} && ./lib_bash/lib_color.sh clr_bold clr_green "static typechecking done" ; else ./lib_bash/lib_color.sh clr_bold clr_red "static typechecking disabled on this build" ;  fi
    - if [[ -f build_docs.py ]] && [[ "${build_docs}" == "True" ]]; then ${CMDPREFIX} ${python_command} build_docs.py ${TRAVIS_REPO_SLUG} && ./lib_bash/lib_color.sh clr_bold clr_green "build_docs done" ; else ./lib_bash/lib_color.sh clr_bold clr_red "build_docs disabled on this build" ;  fi

after_success:
    - ${CMDPREFIX} coverage report
    - ${CMDPREFIX} codecov

    # This works for sure - but might expose the secure password within the matrix,
    # because windows builds need filter_secrets: false at the Moment (2019-04-12)
    # - if [[ ${deploy_on_pypi} == "True" ]] && [[ -n ${TRAVIS_TAG} ]]; then ${CMDPREFIX} ${pip_command} install -U twine ; fi
    # - if [[ ${deploy_on_pypi} == "True" ]] && [[ -n ${TRAVIS_TAG} ]]; then ${CMDPREFIX} ${pip_command} install wheel ; fi
    # - if [[ ${deploy_on_pypi} == "True" ]] && [[ -n ${TRAVIS_TAG} ]]; then ${CMDPREFIX} ${python_command} setup.py sdist bdist_wheel ; fi
    # - if [[ ${deploy_on_pypi} == "True" ]] && [[ -n ${TRAVIS_TAG} ]]; then ${CMDPREFIX} twine upload --repository-url https://upload.pypi.org/legacy/ -u bitranox -p ${pypi_password} dist/* ; fi


# the password needs to be encrypted pointing to ${deploy.password}
# make a backup before adding secrets by travis gem, all comments in the yml files get lost !
# password needs to be created from the project directory for every repository with ruby gem travis:   travis encrypt "*******" --add deploy.password --org
# option --org for travis.org, --com for travis.com

# secure key for lib_registry !!!
deploy:
  provider: pypi
  user: bitranox
  password:
    secure: kdMcSYO402ALgUKeIM7w+vOOSwwYKtF7L0W/WxSdBl0pLkGd91pJ3fJH0P3WzFvJmU/JzVevj3SDShNuXSwQm/vD7HHKvwh/keJ1L4QjFFCVwRzB+JQ1VfVnXHGQQP5JnK3aBBdJpC7xPJa8bSYuCUHptGZELna87ANPTtVwLZakWScGWBx843A7Kw5HSmhQvdr1j+WzcJxYlTo5m8d8F0DQZ9JixfglzutEocSm53tymlgQoL8Y8DZ9/H0rrVA3lkkEEONSDQonmys7Pm0hOQ1Xui0S7Fj1LJADLhFrjs8HxQo+BbdePbocTp5GYChEjpR1w0fnvTP7ebes23OukRACubVVZnqW41gK3lztRikUuumGBFfylB66BhLJPQQHVJxLSVSZQQgomcRyn8qlKg2MbOhp+l+MaIL+8VB0k4Tjaf00o84qHxsDRRQuEQ1MDP9ekrf0PrUmGZj3aZVY+SsF+BAsHL4uGcJhfadDrFXx/YFzD5FGP7aTcpRPDinrJ86JnTFdBR0xWPVuQFRN2wrP/YnjUnH47H5e0Ciye6OxJYfaHkUm7Q9cw9mcYl7S5ljPFTm3iUG8mZleDKDMin1lvj3oewqRtpDfkewd42nEKcoX4N09NY4PylsZAEk3uR7sYOPjoVOFjRtIxNXewHMaTrat8aLxJ5jPrK86qks=
  distributions: "sdist bdist_wheel"
  on:
    tags: true
    # python: 3.6
    # we need this, because on projects with windows builds only, we can not build on windows, because of
    # the filter_secure issue. So we build on WINE, but need somehow to address the matrix include on which to build
    condition: ${deploy_on_pypi} = "True"

notifications:
  email:
    recipients:
        - rnowotny@rotek.at
    on_success: never # default: change
    on_failure: always # default: always
