language: python
group: travis_latest
dist: xenial
sudo: true

env:
    global:
        - github_master="https://github.com/${TRAVIS_REPO_SLUG}/archive/master.zip"
        - pip_command="pip"
        - python_command="python"
        # password needs to be created for every repository with ruby gem travis:   travis encrypt pypi_password=******* --org from the project directory
        # option --org for travis.org
        # the secure password points to env_variable ${pypi_password}
        # oddly the secure password under env: global: causes that choco for windows builds fails
        # so we put it into the matrix

# install xvfb virtual framebuffer - start commands with xvfb-run <command> - this we need for WINE
addons:
    apt:
        packages:
            - xvfb
            - winbind

matrix:
    include:
    - os: windows
      language: sh
      name: "Windows Python 2.7"
      before_install:
          # oddly the secure password under env: global: causes that choco fails
          # so we put it directly under the deploy section
          - choco install python2
          - export PATH="/c/Python27:/c/Python27/Scripts:$PATH"

    - os: windows
      language: sh
      name: "Windows Python 3.7"
      before_install:
        # oddly the secure password under env: global: causes that choco fails
        # so we put it directly under the deploy section
        - choco install python3
        - export PATH="/c/Python37:/c/Python37/Scripts:$PATH"
        - export deploy_on_pypi="True"

      # password needs to be created for every repository with ruby gem travis:   travis encrypt pypi_password=******* --org from the project directory
      # option --org for travis.org
      # the secure password points to env_variable ${pypi_password}
      # oddly the secure password under env: global: causes that choco for windows builds fails
      # so we put it into the matrix
      # ${pypi_password}
      #  - secure: "VzzRTHvQZxalECzr7Ce4ewaA7eifVS3Tke5FiitDHWRm5laiEaPtxWfPF0a1nczXKNEY0SHW7dvZlXARoU2qt46g/DDPh/cUBlt0IdD98oui2E40DYA892GVyRZt5Uy7nA5rgNoUdYJz/+4K32a6PYsWZUcN2SGcHRhNvrEyvuMlFQvbOKE06E41ziSUr55QEc9vk36RwFt0sYc+ZFfFpbC6KD2UZcWmiqIXrhevR0KuC8h3q3x2KG0o2ChRl05MmnzPPhADxRqP9RcLtKkK+sm7HFh7342M2DYzyj3kyF+DGuEQs1ZoLgkZaZ3WSv4fDzIqu8BAn2RTBrc5X2a4Qap1kXMcd4ouYnFL4ZWq1AaV7XaoNr58JhqcQ408ioUnE6+6xK17UxjtEnu+4X+LjrnRjspVDPi2PRE2mxrm7zQ9dHpj0yHLNuwescpKQRSqSfCqZZvAwR4R+m60x3JMfrMPwC6l4VJaf9OU2yxsUeiHabh03OAj6uZDtk2oxcrurM+x9mieiQ+3R/ttZ9z6lbES74BkC47f/MOZV7+ahTQRbij0mYdcXSFahwzH7Ou5+k+/6dF+0ZTVhf1A1t/MVFnp5I2JwTR3DPdyT5WB2v36CIcxVG/pDculY9s0IVwfBjSxg4MAfUqEfYxz6bSj4+SqeWhfXcXw4QE9Gmc2f+Q="
      env:
        - secure: "VzzRTHvQZxalECzr7Ce4ewaA7eifVS3Tke5FiitDHWRm5laiEaPtxWfPF0a1nczXKNEY0SHW7dvZlXARoU2qt46g/DDPh/cUBlt0IdD98oui2E40DYA892GVyRZt5Uy7nA5rgNoUdYJz/+4K32a6PYsWZUcN2SGcHRhNvrEyvuMlFQvbOKE06E41ziSUr55QEc9vk36RwFt0sYc+ZFfFpbC6KD2UZcWmiqIXrhevR0KuC8h3q3x2KG0o2ChRl05MmnzPPhADxRqP9RcLtKkK+sm7HFh7342M2DYzyj3kyF+DGuEQs1ZoLgkZaZ3WSv4fDzIqu8BAn2RTBrc5X2a4Qap1kXMcd4ouYnFL4ZWq1AaV7XaoNr58JhqcQ408ioUnE6+6xK17UxjtEnu+4X+LjrnRjspVDPi2PRE2mxrm7zQ9dHpj0yHLNuwescpKQRSqSfCqZZvAwR4R+m60x3JMfrMPwC6l4VJaf9OU2yxsUeiHabh03OAj6uZDtk2oxcrurM+x9mieiQ+3R/ttZ9z6lbES74BkC47f/MOZV7+ahTQRbij0mYdcXSFahwzH7Ou5+k+/6dF+0ZTVhf1A1t/MVFnp5I2JwTR3DPdyT5WB2v36CIcxVG/pDculY9s0IVwfBjSxg4MAfUqEfYxz6bSj4+SqeWhfXcXw4QE9Gmc2f+Q="

    - os: linux
      language: sh
      name: "WINE stable 32 Bit Python 2.7.16, Windows XP"
      env:
          - WINEARCH="win32"
          - WINEPREFIX="${HOME}/wine/wine32"
          - WINEPATH="c:/PortableGit32/cmd;c:/Python27-32;c:/Python27-32/Scripts"
          - CMDPREFIX="wine"
          - wine_windows_version="winxp"
          - wine_version="stable"
          - wine_python_version="python2"

    - os: linux
      language: sh
      name: "WINE stable 64 Bit Python 2.7.16, Windows XP"
      env:
          - WINEPREFIX="${HOME}/wine/wine64"
          - WINEPATH="c:/PortableGit64/cmd;c:/Python27-64;c:/Python27-64/Scripts"
          - CMDPREFIX="wine"
          - wine_windows_version="winxp"
          - wine_version="stable"
          - wine_python_version="python2"

    - os: linux
      language: sh
      name: "WINE stable 32 Bit Python 3.7.3, Windows XP"
      env:
          - WINEARCH="win32"
          - WINEPREFIX="${HOME}/wine/wine32"
          - WINEPATH="c:/PortableGit32/cmd;c:/Python37-32;c:/Python37-32/Scripts"
          - CMDPREFIX="wine"
          - wine_windows_version="winxp"
          - wine_version="stable"
          - wine_python_version="python3"

    - os: linux
      language: sh
      name: "WINE stable 64 Bit Python 3.7.3, Windows XP"
      env:
          - WINEPREFIX="${HOME}/wine/wine64"
          - WINEPATH="c:/PortableGit64/cmd;c:/Python37-64;c:/Python37-64/Scripts"
          - CMDPREFIX="wine"
          - wine_windows_version="winxp"
          - wine_version="stable"
          - wine_python_version="python3"

    - os: linux
      language: sh
      name: "WINE stable 32 Bit Python 2.7.16, Windows 10"
      env:
          - WINEARCH="win32"
          - WINEPREFIX="${HOME}/wine/wine32"
          - WINEPATH="c:/PortableGit32/cmd;c:/Python27-32;c:/Python27-32/Scripts"
          - CMDPREFIX="wine"
          - wine_windows_version="win10"
          - wine_version="stable"
          - wine_python_version="python2"

    - os: linux
      language: sh
      name: "WINE stable 64 Bit Python 2.7.16, Windows 10"
      env:
          - WINEPREFIX="${HOME}/wine/wine64"
          - WINEPATH="c:/PortableGit64/cmd;c:/Python27-64;c:/Python27-64/Scripts"
          - CMDPREFIX="wine"
          - wine_windows_version="win10"
          - wine_version="stable"
          - wine_python_version="python2"

    - os: linux
      language: sh
      name: "WINE stable 32 Bit Python 3.7.3, Windows 10"
      env:
          - WINEARCH="win32"
          - WINEPREFIX="${HOME}/wine/wine32"
          - WINEPATH="c:/PortableGit32/cmd;c:/Python37-32;c:/Python37-32/Scripts"
          - CMDPREFIX="wine"
          - wine_windows_version="win10"
          - wine_version="stable"
          - wine_python_version="python3"

    - os: linux
      language: sh
      name: "WINE stable 64 Bit Python 3.7.3, Windows 10"
      env:
          - WINEPREFIX="${HOME}/wine/wine64"
          - WINEPATH="c:/PortableGit64/cmd;c:/Python37-64;c:/Python37-64/Scripts"
          - CMDPREFIX="wine"
          - wine_windows_version="win10"
          - wine_version="stable"
          - wine_python_version="python3"

    - os: linux
      language: sh
      name: "WINE devel 32 Bit Python 2.7.16, Windows XP"
      env:
          - WINEARCH="win32"
          - WINEPREFIX="${HOME}/wine/wine32"
          - WINEPATH="c:/PortableGit32/cmd;c:/Python27-32;c:/Python27-32/Scripts"
          - CMDPREFIX="wine"
          - wine_windows_version="winxp"
          - wine_version="devel"
          - wine_python_version="python2"

    - os: linux
      language: sh
      name: "WINE devel 64 Bit Python 2.7.16, Windows XP"
      env:
          - WINEPREFIX="${HOME}/wine/wine64"
          - WINEPATH="c:/PortableGit64/cmd;c:/Python27-64;c:/Python27-64/Scripts"
          - CMDPREFIX="wine"
          - wine_windows_version="winxp"
          - wine_version="devel"
          - wine_python_version="python2"

    - os: linux
      language: sh
      name: "WINE devel 32 Bit Python 3.7.3, Windows XP"
      env:
          - WINEARCH="win32"
          - WINEPREFIX="${HOME}/wine/wine32"
          - WINEPATH="c:/PortableGit32/cmd;c:/Python37-32;c:/Python37-32/Scripts"
          - CMDPREFIX="wine"
          - wine_windows_version="winxp"
          - wine_version="devel"
          - wine_python_version="python3"

    - os: linux
      language: sh
      name: "WINE devel 64 Bit Python 3.7.3, Windows XP"
      env:
          - WINEPREFIX="${HOME}/wine/wine64"
          - WINEPATH="c:/PortableGit64/cmd;c:/Python37-64;c:/Python37-64/Scripts"
          - CMDPREFIX="wine"
          - wine_windows_version="winxp"
          - wine_version="devel"
          - wine_python_version="python3"

    - os: linux
      language: sh
      name: "WINE devel 32 Bit Python 2.7.16, Windows 10"
      env:
          - WINEARCH="win32"
          - WINEPREFIX="${HOME}/wine/wine32"
          - WINEPATH="c:/PortableGit32/cmd;c:/Python27-32;c:/Python27-32/Scripts"
          - CMDPREFIX="wine"
          - wine_windows_version="win10"
          - wine_version="devel"
          - wine_python_version="python2"

    - os: linux
      language: sh
      name: "WINE devel 64 Bit Python 2.7.16, Windows 10"
      env:
          - WINEPREFIX="${HOME}/wine/wine64"
          - WINEPATH="c:/PortableGit64/cmd;c:/Python27-64;c:/Python27-64/Scripts"
          - CMDPREFIX="wine"
          - wine_windows_version="win10"
          - wine_version="devel"
          - wine_python_version="python2"

    - os: linux
      language: sh
      name: "WINE devel 32 Bit Python 3.7.3, Windows 10"
      env:
          - WINEARCH="win32"
          - WINEPREFIX="${HOME}/wine/wine32"
          - WINEPATH="c:/PortableGit32/cmd;c:/Python37-32;c:/Python37-32/Scripts"
          - CMDPREFIX="wine"
          - wine_windows_version="win10"
          - wine_version="devel"
          - wine_python_version="python3"

    - os: linux
      language: sh
      name: "WINE devel 64 Bit Python 3.7.3, Windows 10"
      env:
          - WINEPREFIX="${HOME}/wine/wine64"
          - WINEPATH="c:/PortableGit64/cmd;c:/Python37-64;c:/Python37-64/Scripts"
          - CMDPREFIX="wine"
          - wine_windows_version="win10"
          - wine_version="devel"
          - wine_python_version="python3"

    - os: linux
      language: sh
      name: "WINE staging 32 Bit Python 2.7.16, Windows XP"
      env:
          - WINEARCH="win32"
          - WINEPREFIX="${HOME}/wine/wine32"
          - WINEPATH="c:/PortableGit32/cmd;c:/Python27-32;c:/Python27-32/Scripts"
          - CMDPREFIX="wine"
          - wine_windows_version="winxp"
          - wine_version="staging"
          - wine_python_version="python2"

    - os: linux
      language: sh
      name: "WINE staging 64 Bit Python 2.7.16, Windows XP"
      env:
          - WINEPREFIX="${HOME}/wine/wine64"
          - WINEPATH="c:/PortableGit64/cmd;c:/Python27-64;c:/Python27-64/Scripts"
          - CMDPREFIX="wine"
          - wine_windows_version="winxp"
          - wine_version="staging"
          - wine_python_version="python2"

    - os: linux
      language: sh
      name: "WINE staging 32 Bit Python 3.7.3, Windows XP"
      env:
          - WINEARCH="win32"
          - WINEPREFIX="${HOME}/wine/wine32"
          - WINEPATH="c:/PortableGit32/cmd;c:/Python37-32;c:/Python37-32/Scripts"
          - CMDPREFIX="wine"
          - wine_windows_version="winxp"
          - wine_version="staging"
          - wine_python_version="python3"

    - os: linux
      language: sh
      name: "WINE staging 64 Bit Python 3.7.3, Windows XP"
      env:
          - WINEPREFIX="${HOME}/wine/wine64"
          - WINEPATH="c:/PortableGit64/cmd;c:/Python37-64;c:/Python37-64/Scripts"
          - CMDPREFIX="wine"
          - wine_windows_version="winxp"
          - wine_version="staging"
          - wine_python_version="python3"

    - os: linux
      language: sh
      name: "WINE staging 32 Bit Python 2.7.16, Windows 10"
      env:
          - WINEARCH="win32"
          - WINEPREFIX="${HOME}/wine/wine32"
          - WINEPATH="c:/PortableGit32/cmd;c:/Python27-32;c:/Python27-32/Scripts"
          - CMDPREFIX="wine"
          - wine_windows_version="win10"
          - wine_version="staging"
          - wine_python_version="python2"

    - os: linux
      language: sh
      name: "WINE staging 64 Bit Python 2.7.16, Windows 10"
      env:
          - WINEPREFIX="${HOME}/wine/wine64"
          - WINEPATH="c:/PortableGit64/cmd;c:/Python27-64;c:/Python27-64/Scripts"
          - CMDPREFIX="wine"
          - wine_windows_version="win10"
          - wine_version="staging"
          - wine_python_version="python2"

    - os: linux
      language: sh
      name: "WINE staging 32 Bit Python 3.7.3, Windows 10"
      env:
          - WINEARCH="win32"
          - WINEPREFIX="${HOME}/wine/wine32"
          - WINEPATH="c:/PortableGit32/cmd;c:/Python37-32;c:/Python37-32/Scripts"
          - CMDPREFIX="wine"
          - wine_windows_version="win10"
          - wine_version="staging"
          - wine_python_version="python3"

    - os: linux
      language: sh
      name: "WINE staging 64 Bit Python 3.7.3, Windows 10"
      env:
          - WINEPREFIX="${HOME}/wine/wine64"
          - WINEPATH="c:/PortableGit64/cmd;c:/Python37-64;c:/Python37-64/Scripts"
          - CMDPREFIX="wine"
          - wine_windows_version="win10"
          - wine_version="staging"
          - wine_python_version="python3"

install:
    - if [[ ${CMDPREFIX} == "wine" ]]; then chmod 755 ./*.sh ; fi
    - if [[ ${CMDPREFIX} == "wine" ]]; then ./install_wine.sh ; fi
    - if [[ ${CMDPREFIX} == "wine" ]]; then ./install_wine_machine.sh ; fi
    - if [[ ${wine_python_version} == "python2" ]]; then ./install_wine_python2_preinstalled.sh ; fi
    - if [[ ${wine_python_version} == "python3" ]]; then ./install_wine_python3_preinstalled.sh ; fi
    - if [[ ${CMDPREFIX} == "wine" ]]; then ./install_wine_git_portable.sh ; fi

    - ${CMDPREFIX} ${python_command} -m pip install --upgrade pip
    - if [[ $TRAVIS_PYTHON_VERSION == pypy3.5-6.0 ]]; then ${CMDPREFIX} ${pip_command} install "pytest-cov==2.6.0"; fi
    - ${CMDPREFIX} ${pip_command} install codecov pytest pytest-pep8 pytest-cov dill
    - ${CMDPREFIX} ${pip_command} install -e .

script:
    - ${CMDPREFIX} ${pip_command} install ${github_master} --install-option test # test setup.py test option
    - ${CMDPREFIX} ${python_command} -m pytest --pep8 --cov

after_success:
    - ${CMDPREFIX} coverage report
    - ${CMDPREFIX} codecov

    # This works for sure - lets do it our self and not rely on travis deploy: , because its buggy
    - if [[ ${deploy_on_pypi} == "True" ]] && [[ -n ${TRAVIS_TAG} ]]; then ${CMDPREFIX} ${pip_command} install -U twine ; fi
    - if [[ ${deploy_on_pypi} == "True" ]] && [[ -n ${TRAVIS_TAG} ]]; then ${CMDPREFIX} ${pip_command} install wheel ; fi
    - if [[ ${deploy_on_pypi} == "True" ]] && [[ -n ${TRAVIS_TAG} ]]; then ${CMDPREFIX} ${python_command} setup.py sdist bdist_wheel ; fi
    - if [[ ${deploy_on_pypi} == "True" ]] && [[ -n ${TRAVIS_TAG} ]]; then ${CMDPREFIX} twine upload --repository-url https://upload.pypi.org/legacy/ -u bitranox -p ${pypi_password} dist/* ; fi
